/*--------------------*/
/*---Zeroing----*/
/*--------------------*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;color:black}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

.snake {
   width:100%;
   height:100%;
}
.snake__board {
   display: none;
   position: relative;
   width:31em;
   left:50%;top:50%;
   margin-left: -15.5em;
   margin-top: -15.5em;
}
#board {
   width: 31em;
   height: 31em;
   border: 1px solid black;
}
.snake__board:hover .snake__close{
   display: block;
}
.snake__board:hover .snake__paused{
   display: block;
}
.snake__score {
   position: absolute;
   top:0.8em;left:0.4em;
   color:white;
   font-weight: 700;
}
.snake__close {
   display: none;
   position: absolute;
   top:0.2em;right:0.2em;
   color:white;
   font-size: 2em;
}
.snake__close:hover {
   color:#a99e9e;
   cursor: pointer;
}
.snake__return {
   display: none;
   width:6em;
   height:1em;
   font-size: 2em;
   position:absolute;
   top:50%;left:50%;
   margin-top: -0.5em;
   margin-left: -3em;
   color:white;
   font-weight: 700;
}
.snake__return:hover {
  color:#a99e9e;
  cursor: pointer;
}
.snake__menu {
   position: relative;
   left:50%;top:50%;
   width:31em;
   height:31em;
   background-image: url('../images/snake.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: -15.5em;
   margin-top: -15.5em;


   
}
.snake__speed-menu {
   width:7em;height:5em;
   text-align: center;
   position: relative;
   top:78%;
   left:49%;
   margin-left: -3.5em;
}
.snake__speed-label {
   border:0.2em solid white;
   display: block;
   padding:0.2em 0em;
   border-radius:0.2em;
   width:8em;
   background-color: #93f52b;
   color:white;
   margin-bottom: 0.3em;
   font-weight: 700;
}
.speed__checked {
   background-color:#024408;
}
.snake__speed-input {
   display: none;
}
.snake__start-menu {
   width:7em;height:5em;
   position: relative;
   top:35%;
   left:42%;
   margin-left: -3.5em;
}
.snake__start {
   border:0.3em solid white;
   display: block;
   padding:1em 6em;
   border-radius:0.2em;
   background-color: #93f52b;
   color:white;
   font-weight: 700;
}
.snake__start:hover {
   border:0.3em solid white;
   background-color:#024408;
}